body {
    background-color: white;
    font-family: helvetica, arial, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 16%;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

ul {
    margin: 0px;
}

body > header {
    font-family: "Lobster Two", sans-serif;
    background-color: Lightblue;
    color: white;
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

body > header > nav > ul {
list-style: none;
text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 0%;
}

#Globe > img {
    padding-top: 20%;
    border-radius: 0%;
    height: 50%;
    width: 80%;
}

#ArgMap > img {
    padding-top: 2%;
    border-radius: 0%;
    height: 30%;
    width: 80%;
}

img {
    border-radius: 0%;
    height: 100%;
    width: 100%;
}

#destinations-list ul li a {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    color: navy;
}

#destinations-list ul li {
    list-style: none;
    margin-bottom: 8px;
}

body > main article {
    width: 80%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-between;
}

#main-content aside {
    margin-left: 20px;
    width: 25%;
}

#main-content aside form {
    text-align: center;
}

#main-content > div {
    width: 70%;
}

form {
    text-align: left;
    width: 80%;
}

.subscribe-label {
    font-size: 0.75em;
}

#submit_button {
    padding: 10px;
    text-align: center;
}

h2 {
    text-align: center;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid-item img {
    width: 100%;
    height: 200px;
    padding-bottom: 5%;
    object-fit: cover;
    border-radius: 0px;
    display: block;
    position: relative;
}

.grid-item > a {
    color: black;
    text-align: left;
    padding: 0;
    margin: 10px 0 5px;
    font-size: 0.9em;
    font-weight: bold;
}

.grid-item h4 {
    margin: 10px 0 5px;
    font-size: 0.9em;
}

.grid-item p {
    font-size: 0.7em;
    color: navy;
}

#reviews {
    font-size:  0.7em;
    margin: 30px;

}

#user-review {
    width: 80%;
    max-width: 750px;
}

body > footer > h2 {
    margin: 20px;
    padding: 8px;
    font-family: "Lobster Two", sans-serif;
    color: white;
    font-weight: 400;
    font-style: normal;
    width: 16%;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

body > footer {
    background-color: Lightblue;
    display: flex;
}

#footer-ul {
    padding: 20px;
    display: flex;
    list-style: none;
}
    
#footer-ul > div > li {
    margin-left: 30px;
}

#footer-ul > div > li > a {
text-decoration: none;
color: white;
}
       